__history
__recovery
*.groupproj
*.local
*.identcache
*.dsk
*.skincfg
*.~dsk
*.otares
*.stat
*.tvsconfig
*.txaPackage
*.vlb


*.dcu
*.dcu
*.map
*.drc
*.exe
kron_app_v4/kron4.res
kron_app_v4/kron4.dproj

*.params

*.xls

kron_app_v4/kron4.dpr

